table {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 5px auto;
}
#btns{
    text-align: center;
    width: 100%;
}

button {
    width: 250px;
    margin: 5px auto;
}

td {
    width: 25px;
    height: 25px;
    border: solid 1px gray;
}

#nextShape td {
    width: 10px;
    height: 10px;
}

.black {
    background-color: black;
}

#reset {
    display: none;
}

#info {
    width: 100%;
    text-align: center;
}

#nextShape {
    text-align: center;
font-size: 15px
}

#pauseNote {
    display: none;
    text-align: center;
}